*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--body);
}

.cabecalho-principal{
    height: 15rem;
    border-bottom: 5px blue solid;
}

.img-perfil{
    border: 5px blue solid;
    border-radius: 50%;
    width: 10%;
}
