*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 2;

}

body{
    background-color: var(--body);
    color: #F5F2E7;
    font-family: 'Prompt', sans-serif;
    font-size: 1rem;
}

.cabecalho-principal{
    height: 15rem;
    border-bottom: 3.5px blue solid;
 
}

.cabecalho-img {
    display: flex;
    flex-direction: column;
}

.cabecalho-icon i:first-child {
   margin-right: 6.5rem;
   margin-left: 1.5rem;
}

.img-perfil{
    border: 5px blue solid;
    border-radius: 50%;
    width: 10%;
}

i{
    color:#dee2e7;
}

.apresentacao {
    margin-left: 4rem;
}

.apresentacao-inicial {
    display: flex;
    align-items: center;
   
}
.wave {
    font-size: 2.4rem;
    animation-name: animacao-mao;
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
    margin-left: 0.5rem;
}

.apresentacao-imagem{
    display: flex;
    justify-content: space-between;
}

.texto-tecnologias{
    color: #2666CF;
    font-weight: 700;
    font-size: 1.7rem;
}

.texto-tecnologias::after{
    content:"|";
    opacity: 1;
    animation: cursor .7s infinite;
}

.homem-computador{
    width: 20%;
    margin-right: 3rem;
    margin-top: -2.3rem;
}

@keyframes animacao-mao {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60%{
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes cursor {
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}